<!DOCTYPE html>
<html lang="en">

<head>
    <%-include ("../partials/meta.ejs")%>
  
    <link rel="stylesheet" href="../css/style.css">
    <%-include ("../partials/link.ejs")%>
    
        <title>Turnos</title>
</head>

<body>
    <header class="header_turnos">
       <h1 class="h1-turnos"> Central de turnos</h1> 
       <div class="logo-paciente">
            <img class="user" src="../imagenes/img/user.png" alt="cara de persona">
            <h3 class="h3">Paciente</h3>
        </div>
     </header>   
   
     <section>
          
        <form action="" class="formulario-turno">
            <h2>Complete sus datos para solicitar un turno</h2>
            <br>
            <br>
            <br>
            <br>
            <br>

            <label for=""class="tit-form-turnos">Nombre Completo</label>
            <input type="text" id="nombre" class="boton" name="nombrecompleto" placeholder="Nombre Completo">
            <br>
            <br>

            <label for="documento" class="tit-form-turnos">D.N.I.</label>
            <input type="documento" id="dni" class="boton" name="documento" placeholder="Ingrese su DNI">
            <br>
            <br>

            <label for="mutual" class="tit-form-turnos">Seleccione su Mutual</label>
            <select name="estudio" class="boton1" id="estudio">
                <% dataMutual.forEach(data =>{ %> 
                <option value="aaa"><%= data.mutual %></option>
                <% }) %>
            </select>
            <br>
            <br>

            <label for="profesional" class="tit-form-turnos">Seleccione nombre del profesional</label>
            <select name="medico" class="boton1" id="medico">
                <% profesionales.forEach(data =>{ %>
                <option value="dra.anabellopez"><%= data %></option>
                <% }) %>
            </select>
          
            <input type="submit" class="boton2" value="Enviar">
        </form>

     </section>

     <footer class="footer">
        <%-include ("../partials/footer.ejs") %>
      </footer>
    
</body>

</html>